body {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.75;
  margin: 0;
  min-block-size: 100vh;
  background-color: #26272e;
  color: white;
}

.logo {
  font-size: 30px;
  font-weight: 600;
  background-image: linear-gradient(to left, white, wheat);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}
.container {
  position: relative;
  text-align: center;
}

.welcome-text {
  color: white;
  font-size: 0.995rem;
  font-weight: 500;
  color: white;
}

.show_box {
  margin-top: 1rem;
  border-radius: 0.75rem;
  border-width: 1;
  background-color: #3b3d47;
  font-size: 0.995rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  color: white;
  letter-spacing: -0.02em;
  line-height: 1.25rem;
  padding: 1rem 1.5rem;
  transition-duration: 0.3s;
}
.btnCustom button {
  border-radius: 0.75rem;
  border-width: 0;
  background-color: #265df4;
  font-size: 0.995rem;
  font-weight: 500;
  color: white;
  letter-spacing: -0.02em;
  line-height: 1.25rem;
  padding: 1rem 1.5rem;
  transition-duration: 0.3s;
}

.btnCustom button:hover {
  background-color: orange;
  cursor: pointer;
}
.btnCustom {
  margin-top: 2em;
}

a {
  color: #265df4;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.995rem;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: yellow;
}

.text-success {
  border-radius: 0.75rem;
  border-width: 0;
  background-color: #1b3d33;
  font-size: 0.995rem;
  font-weight: 500;
  color: #03db9f;
  letter-spacing: -0.02em;
  line-height: 1.25rem;
  padding: 1rem 1.5rem;
  transition-duration: 0.3s;
}

.text-info {
  border-radius: 0.75rem;
  border-width: 0;
  background-color: red;
  font-size: 0.995rem;
  font-weight: 500;
  color: white;
  letter-spacing: -0.02em;
  line-height: 1.25rem;
  padding: 1rem 1.5rem;
  transition-duration: 0.3s;
}

.buy-form {
  margin: 1rem;
}

input {
  padding: 3px;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
}

label {
  color: #265df4;
  font-weight: bold;
  display: block;
}
label:after {
  content: ": ";
}
small {
  display: block;
  color: red;
}

#submit {
  border-radius: 0.75rem;
  border-width: 0;
  background-color: #265df4;
  font-size: 0.995rem;
  font-weight: 500;
  color: white;
  letter-spacing: -0.02em;
  line-height: 1.25rem;
  padding: 1rem 1.5rem;
  transition-duration: 0.3s;
}
#submit:hover {
  background-color: orange;
  cursor: pointer;
}

.empty {
  margin-bottom: 15rem;
}

table,
td,
th {
  border: 1px solid white;
  color: white;
}

table {
  width: 100%;
}

.footer {
  position: fixed;
  font-family: "Courier New", Courier, monospace;
  font-size: 0.995rem;
  font-weight: 500;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #3b3d47;
  color: white;
  text-align: center;
}
